body{
  font-family: 'Open Sans', sans-serif;
}

header{
  background-color: #00224A;
  padding-top: 1px;
  height: 2%;
}

main{
  width: 100%;
  padding: 50px;
}

body{
  background-size: cover;
  background-color: #f0efef;
}

h1.logotop{
  font-size: 30px;
  color: white;
  display: inline-block;
  margin-left: 30px;
  margin-right: 500px;
}


nav{
  display: inline-block;
}

ul{
  list-style: none;
  color: #f9e42e;
}


li{
  display: inline-block;
  text-align: right;
  color: yellow;
  padding-right: 50px;
}

a.inline-block:link{
  text-decoration: none;
  color: yellow;
}
a.inline-block:visited{
  text-decoration: none;
  color: yellow;
}

a.inline-block:hover{
  text-decoration: underline;
  color: yellow;
}

a.inline-block:active{
  text-decoration: none;
  color: yellow;
}

a.readmore:link{
  text-decoration: none;
  color: #00224A;
}
a.readmore:visited{
  text-decoration: none;
  color: #00224A;
}

a.readmore:hover{
  text-decoration: underline;
  color: #00224A;
}

a.readmore:active{
  text-decoration: none;
  color: #00224A;
}

.readmore{
  font-weight: 900;
  float: right;
}

 .article-2{
  clear: both;
  border-top: 1px solid gray;
 }

section.rightcolumn{
  display: inline-block;
  border-bottom: 1px solid gray;
  width: 60%;
}

.para1,.para2{
  color: #606161;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: normal;
}

span.L{
  text-transform: uppercase;
  margin: 10px;
  font-size: 50px;
}

section.sidecolumn{
display: inline-block;
width: 25%;
vertical-align: top;
margin-left: 100px;
}

a.block{
  display: block;
}

a.block:link{
  text-decoration: none;
  color: #00224A;
}
a.block:visited{
  text-decoration: none;
  color: #00224A;
}

a.block:hover{
  text-decoration: underline;
  color: #00224A;
}

a.block:active{
  text-decoration: none;
  color: #00224A;
}

a.learnmore{
  text-decoration: none;
  font-weight: 900;
  color: #00224A;
}

footer {
  clear: both;
  padding-top: 30px;
  text-align: center;
}

footer div#call-for-action{
  background-color: #f9e42e;
  padding: 30px;
  margin-top: 30px;
  /*max-width: 100%;*/
   max-width: 100%;
    margin: auto;
}

.blue-button{
  background-color: #00224A;
  color: white;
  font-size: 20px;
  padding: 15px;
  /*margin: 10%;*/
 /* width: 20%;*/
  border-radius: 5px;
}

footer div.black-background{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-bottom{
  color: white;
  font-weight: 900;
  padding-bottom: 30px;
  padding-top: 30px;
}

.copyright{
  color: white;
  padding-top: 30px;
}

